html, body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  color: white;
  
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.success {
  color: #4CAF50;
}

.failure {
  color: #F44336;
}

.vp-size {
  height: 100vh;
  width: 100vw;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.m-b-sm {
  margin-bottom: 10px;
}

.header {
  height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  border: 2px dashed #eee;
  transition: border .1s ease-out;
}

.box.active {
  border: 2px solid #FF9800;
}

.box__icon {
  fill: white;
}

.results {
  padding-top: 36px;
  min-height: 100vh;
}

.results__item {
  padding: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.results__item:nth-child(odd) {
  background-color: rgba(0,0,0,.25);
}

.results__item span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results__item span:last-child {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  width: 16px;
  height: 16px;
}
